html, body {
	height: 100%;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

html {
	overflow: hidden;
}

body {
	font: 300 1rem / 1.5rem $font-text;
}

a {
	color: $plum;
	text-decoration: none;

	&:hover, &:focus {
		color: lighten($plum, 5%);
		cursor: pointer;
	}

	&.underline {
		display: inline-block;
		position: relative;
		
		&:before {
			background: lighten($plum, 5%);
			bottom: 0px;
			content: "";
			display: block;
			height: 1px;
			opacity: 0;
			position: absolute;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
			transition: all 200ms ease;
			width: 0;
		}

		&:hover, &:focus {
			&:before {
				opacity: 1;
				width: 100%;
			}
		}
	}
}

b, strong {
	font-weight: 600;
}
