extends layout

block content
	#placeholder
		.inner
			img.logo(
				alt="Plum's Noms"
				src="/img/logo.svg"
			)
			p This site is still baking. Less (or maybe more!) bad&nbsp;baking puns and more content to&nbsp;come.
			p 
				| Contact 
				a.underline(href="mailto:plumsnoms@gmail.com") plumsnoms@gmail.com
				|  with any questions or pictures of tiny&nbsp;adorable&nbsp;kittens.