extends layout

block content
	#placeholder
		.inner
			img.logo(
				alt="Plum's Noms"
				src="/img/logo.svg"
			)
			p 
				| This site is still baking. In the meantime, check out what's cooking on 
				a.underline(href="https://www.instagram.com/plumertzi/", target="_blank") Instagram
				| .
			p 
				| Contact 
				a.underline(href="mailto:plumsnoms@gmail.com") plumsnoms@gmail.com
				|  with any questions or pictures of tiny&nbsp;adorable&nbsp;kittens.